@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

.uploaderTitle {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 30px;
}

#tsparticles {
    position: relative;
    z-index: -1;
}

label {
    margin-left: 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 20px;
    vertical-align: middle;
}

input[type=radio] {
    border: 0px;
    width: 1.5em;
    height: 1.5em;
}

img.profile-photo {
  width: 30%;
  height: 30%;
}

fieldset {
    max-width: 80%;
}

.radio {
    display: flex;
    align-items: left;
    margin: 10px;
}

.submit-btn {
    height: 80px;
    font-family: 'Kalam';
    text-shadow: 2px 2px #ff0000;
    font-weight: 700;
    display: block;
    width: calc(100% - 14px);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background: -webkit-linear-gradient(45deg, #680aca, #ff897e);
    background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
    background-size: 300% 300%;
    border: 0px solid rgba(0,0,0,0);
    color: #EAEDF0;
    border-radius: 10px;
    max-width: 450px;
    margin-top: 30px;
}

.submit-btn:hover {
    box-shadow: 0 0 5px #eee;
    cursor: pointer;
  }

div.info {
    text-align: left;
    font-size: 18px;
    font-family: sans-serif;
}

li {
    margin: 10px;
}

.submit-btn:active {
    box-shadow: 0 0 30px #eee;
    transform: translate(1px,2px);
  }

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-span1 {
    display: inline-block;
    width: 60%;
}

.upload-span2 {
    display: inline-block;
    width: 40%;
}

.upload-span-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

img.profile-photo {
    width: 90%;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 1.5vw;
    opacity: 80%;
    color: rgb(255, 96, 96);
    text-shadow:
      -1px -1px 0 #000,
       0   -1px 0 #000,
       1px -1px 0 #000,
       1px  0   0 #000,
       1px  1px 0 #000,
       0    1px 0 #000,
      -1px  1px 0 #000,
      -1px  0   0 #000;
}

.x {
    color: rgb(255, 96, 96);
    top: 20%;
    left: 25%;
    opacity: 90%;
    font-size: 5vw;
    text-shadow: none;
}

.c {
    color: rgb(135, 255, 108);
    top: 20%;
    left: 25%;
    opacity: 90%;
    font-size: 5vw;
    text-shadow: none;
}

.test {
    position: relative;
}

img.good {
    border: rgb(135, 255, 108) solid 5px;
}

img.bad {
    border: rgb(255, 96, 96) solid 5px;
}

div.photo-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    width: 32%;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: left;
    column-gap: 100px;
}